[REDDIT]
client_id =
client_secret =
username =
password =
user_agent = script:bishop:v1.0 (by u/Elxes04)

[TELEGRAM]
api_id =
api_hash =
bot_token =
target_chat_id =
log_chat_id =


[SETTINGS]
subreddit =
locale = en
